$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

/*****************************************
              Fonts
 *****************************************/
@font-face {
    font-family: 'nastaliq';
    src: url('../fonts/IranNastaliq.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'nazanin';
    src: url('../fonts/NAZANIN.TTF');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'nazanin';
    src: url('../fonts/NAZANINB.TTF');
    font-weight: bold;
    font-style: normal;
}
.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.poem-container{
    background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #EADEFD),
    color-stop(1, #FFFFFF)
);
    background-image: -o-linear-gradient(bottom, #EADEFD 0%, #FFFFFF 100%);
    background-image: -moz-linear-gradient(bottom, #EADEFD 0%, #FFFFFF 100%);
    background-image: -webkit-linear-gradient(bottom, #EADEFD 0%, #FFFFFF 100%);
    background-image: -ms-linear-gradient(bottom, #EADEFD 0%, #FFFFFF 100%);
    background-image: linear-gradient(to bottom, #EADEFD 0%, #FFFFFF 100%);
    border-radius:10px;
    padding: 15px;
    margin-right: 5px !important;
}

.settings-container{
    background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(1, #E5F0FF),
    color-stop(1, #FFFFFF)
);
    background-image: -o-linear-gradient(bottom, #E5F0FF 100%, #FFFFFF 100%);
    background-image: -moz-linear-gradient(bottom, #E5F0FF 100%, #FFFFFF 100%);
    background-image: -webkit-linear-gradient(bottom, #E5F0FF 100%, #FFFFFF 100%);
    background-image: -ms-linear-gradient(bottom, #E5F0FF 100%, #FFFFFF 100%);
    background-image: linear-gradient(to bottom, #E5F0FF 100%, #FFFFFF 100%);
    border-radius:10px;
}

.options-container{
    background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(1, #ffe3e3),
    color-stop(1, #FFFFFF)
);
    background-image: -o-linear-gradient(bottom, #ffe3e3 100%, #FFFFFF 100%);
    background-image: -moz-linear-gradient(bottom, #ffe3e3 100%, #FFFFFF 100%);
    background-image: -webkit-linear-gradient(bottom, #ffe3e3 100%, #FFFFFF 100%);
    background-image: -ms-linear-gradient(bottom, #ffe3e3 100%, #FFFFFF 100%);
    background-image: linear-gradient(to bottom, #ffe3e3 100%, #FFFFFF 100%);
    border-radius:10px;
    padding: 15px;
    margin-right: 5px !important;
}
.force-margin-top-zero{
    margin-top: 0px !important;
}